*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    line-height:1.6 ;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
}
p{
    color: rgb(74 92 95);
    font-size: 18px;
}
h1 {
    font-size: 45px;
    line-height: 4rem;
}
h3 {
    font-size: 25px;
}
nav .container{
    display: flex;
    justify-content: space-between;
    height: 100px;
}
.navbar h1 {
    color: rgb(159 166 170);
    font-size: 20px;
}
a{
    text-decoration: none;
    color: rgb(91 102 109);
}
ul{
    list-style: none;
    display: flex;
    gap: 2rem;    
}
.nav-icon .icon{
    color: rgb(131 155 164);
}
nav .container >*{
    align-self: center; 
}
.img {
    position: relative;
    z-index: 1;
}
.caption {
    width: 550px;
    color: white;
    background-color: rgb(77 105 108);
    position: absolute;
    padding: 30px 20px 30px 200px;
    z-index: 2;
}
.caption p {
    color: white;
    padding-top: 20px;
}
.down-arrow {
    color: #e3eeeb;
    background-color: rgb(77 105 108);
    left: 1097px;
    top: 493px;
    z-index: 2;
    padding: 20px 45px;
    position: absolute;
    font-size: 30px;
}
.box {
    position: absolute;
    z-index: -1;
    padding: 50px 50px;
    border: 3px solid #4f6d77;
    top: 488px;
    right: 1128px;
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
hr {
    border-style: none;
    border-top-style:outset;
    border-color: grey;
    border-width: 2px;
    width: 10%;
    align-self: center;
}
section.benefits {
    margin: 130px 0;
}
.benefits .container {
    display: flex;
    flex-direction: column;
    row-gap: 70px;
}
.benifits-head {
    display: flex;
    gap: 2rem;
}
.benifits-head h1 {
    align-self: center;
    width: 500px;
}
.icon {
    grid-row: span 2;
    color: rgb(131 155 164);
}
.benefits .icon {
    font-size: 35px;
    align-self: baseline;
    color: rgb(131 155 164);
}
.part {
    display: grid;
    grid-template-columns: repeat(2,auto);
    grid-template-rows: repeat(2,auto);
    row-gap: 2rem;
    column-gap: 1rem;
}
.benefit-part {
    display: grid;
    grid-template-columns: repeat(3,auto);
    grid-template-rows: auto;
    gap: 20px;
}
.experience .container .exp-grid {
    display: grid;
    grid-template-columns: repeat(3,auto);
    grid-template-rows: repeat(4,auto);
}
.experience .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 70px;
}
.exp-img {
    grid-row-start: 1;
    grid-row-end: -1;
}
.experience h1, .definition {
    grid-column: span 3;
}
.number .num {
    color: rgb(98, 145, 155);
    font-size: 3rem;
    font-weight: bolder;
    margin: 0;
    align-self: end;
}
.num-def {
    width: 80px;
    line-height: 25px;
}
.btn {
    grid-column: span 3;
    position: relative;
    display: flex;
}
.button1 {
    padding: 0 30px;
    margin: 17px 0;
    background-color: white;
    color: black;
    border: 2px solid #080a08;
}
.arrow {
    position: absolute;
    width: 150px;
    top: 28px;
    left: 70px;
}
.btn .line {
    width: 75px;
    position: absolute;
    margin: 0 0 0 110px;
}
.experience i {
    font-size: 20px;
    position: absolute;
    margin: 12px 0 0 170px;
}
section.process {
    margin-top: 200px;
}
.process-detail {
    display: grid;
    grid-template-columns: repeat(2,auto);
    grid-template-rows: repeat(7,auto);
    align-content: center;
    column-gap: 1rem;
    row-gap: 2rem;
}
.process .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    column-gap: 70px;
}
.process h1 {
    width: 395px;
    margin-bottom: 50px;
    grid-column: span 2;
}
.product-img{
    grid-row: span 7;
    justify-self: end;
}
.vertical-line{
    border-left: 2px solid grey;
    margin-left: 25px;
}
.step-num{
    background-color: rgb(55, 95, 95);
    color: white;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
.step {
    grid-row: span 2;
}
.step-num p {
    margin-left: 15px;
    margin-top: 12px;
    color: white;
}
.review-flex,.review-flex1{
    display: flex;
    justify-content: space-between;
}
.review-grid >* {
    padding: 10px;
}
.review-flex1 h1{
    flex-basis: 400px;
}
.review-flex h3{
    grid-column: span 2;
}
.review-flex .para{
    grid-column: span 2;
}
.review-flex1,.review-flex i{
    font-size: 2rem;
}
.fa-arrow-left{
    color: rgb(117, 137, 139);
}
.fa-arrow-right{
    color: rgb(64, 74, 75);
}
.review-grid .quote {
    font-size: 50px;
}
.review-grid {
    display: grid;
    grid-template-rows: repeat(4,auto);
    grid-template-columns: auto;
    background-color: rgb(85, 112, 118);
}
.review-grid > * {
 color: white;
}
.person {
    border-radius: 50%;
    width:60px;
    height: 60px;
}
.icon-2 {
    display: flex;
    align-self: center;
    gap: 2rem;
}
.name {
    display: flex;
    flex-basis: 55px;
    column-gap: 20px;
}
.name p{
    color: #ffffff;
}
.job{
    font-size: 14px;
}
.about .container {
    display: flex;
    margin-top: 100px;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.about .container h1 {
    flex-basis: 150px;
    width: 523px;
}
.about .container p {
    padding-bottom: 80px;
}
.form {
    z-index: 2;
    position: relative;
    top: 16px;
}
input{
    width: 100%;
    padding: 16px 20px;
    border-style: none;
    box-shadow: 1px 0px 8px 1px #888888;
}
.subscribe {
    background-color: rgb(77 105 108);
    color: #ffffff;
    position: absolute;
    z-index: 2;
    border-style: none;
    padding: 10px 55px;
    top: 6px;
    right: 10px;
}

footer {
    background-color: rgb(77 105 108);
    position: relative;
    z-index: 1;
}
footer .container{
    display: grid;
    grid-template-columns: 6fr 2fr 2fr 2fr 3fr;
    color: #ffffff;
    background-color:rgb(77 105 108);
    padding: 80px 0;
}
.brand-detail p{
    width: 300px;
}
.feedback{
    grid-row: span 2;
    
}
.feedback-icon{
    display: flex;
    margin-top: 30px;
}
.footer-part p{
    color: #dbd3d3;
    font-size: 15px;
}

.footer-part h4 {
    margin-bottom: 20px;
    font-size: 20px;
}
svg{
    color: #ffffff;
    flex-basis: 50px;
}
.number{
    color: white;
}
@media  (max-width:320px) {
    section.benefits {
        margin: 60px 0;
    }
    .benefits .container {
        row-gap: 50px;
    }
    .experience h1, .definition {
        padding: 20px 0;
    }
    .process-detail {
        row-gap: 1rem;
    }
    .process h1 {
        width: 288px;
        margin-bottom: 25px;
    }
    .about .container h1 {
        width: 230px;
    }
    .process .container {
        display: flex;
        flex-direction: column;
    }
    section.process {
        margin: 50px 0;
    }
    .review-flex1 {
        margin-bottom: 30px;
    }
    .about .container h1 {
        flex-basis: 100px;
    }
    .arrow {
        width: 120px;
    }
    .form {
        width: 300px;
    }
    .subscribe {
        padding: 12px 20px;
    }
    .product-img {
        margin-top: 40px;
    }
    .button1 {
        padding: 20px 30px;
        margin: 17px 0;
    }
}
@media (min-width:321px) and (max-width:425px){
    .process h1 {
        width: 305px;
    }
    section.benefits {
        margin: 70px 0;
    }
    .benifits-head h1 {
        width: 300px;
    }
    .benefits .container {
        row-gap: 45px;
    }
    .num {
        font-size: 40px;
        align-self: end;
    }
    section.process {
        margin-top: 80px;
    }
    .process .container {
        display: flex;
        flex-direction: column;
    }
    .product-img {
        margin-top: 40px;
    }
    section.review {
        margin: 80px 0;
    }
    .review-flex1 {
        margin-bottom: 30px;
    }
    .form {
        width: 300px;
    }
    .about .container h1 {
        flex-basis: 100px;
    }
    .subscribe {
        padding: 12px 20px;
    }
    .button1 {
        padding: 20px 30px;
        margin: 17px 0;
    }
}
@media (max-width:426px) {
    .container{
        margin: 0 16px;
    }
    h1{
        font-size: 25px;
        line-height: 40px;
    }
    h3 {
        font-size: 20px;
        align-self: center;
    }
    p {
        font-size: 16px;
    }
    .review-flex {
        display: flex;
        flex-direction: column;
        gap: 41px;
    }
    .experience .container{
        display: flex;
        flex-direction: column;
       }
    .benefits .icon {
        font-size: 35px;
        margin-top: 20px;
    }
    .down-arrow{
        margin: 0;
    }
    .caption,.down-arrow,.box,ul{
        display: none;
    }
    .about .container h1 {
        width: 230px;
    }
    .btn .line {
        margin: -13px 0 0 101px;
    }
    .benefit-part {
        display: flex;
        flex-direction: column;
    }
    .arrow {
        width: 120px;
    }
    footer .container {
        display: flex;
        flex-direction: column;
    }
    .button1 {
        padding: 20px 30px;
        margin: 17px 0;
    }
}
@media( (min-width:425px) and (max-width:768px) ){
    .container{
        margin: 0 16px;
    }
    ul{
      display: none;
    }
    h1 {
        font-size: 30px;
    }
    p{
        font-size: 16px;
    }
    h3{
        font-size:20px ;
    }
    .down-arrow ,.caption,.box{
        margin: 0;
        padding: 0;
        display: none;
    }
    section.benefits {
        margin: 100px 0;
    }
    .benifits-head h1 {
        width: 300px;
    }
    .process-detail {
        row-gap: 1rem;
    }
    .process h1 {
        width: 313px;
    }
    .exp-img {
        height: 400px;
    }
    .product-img {
        height: 400px;
    }
     .review-flex1 {
        margin-bottom: 30px;
    }
    .experience .container {
        grid-template-rows: 1fr 1fr;
        grid-template-columns: auto;
        row-gap: 70px;
    }
    .review-flex {
        display: flex;
        flex-direction: column;
        gap: 41px;
    }
    .process .container {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    .exp-grid h1 {
        width: 300px;
    }  
    footer .container {
        display: flex;
        flex-direction: column;
    }
    .form {
        width: 420px;
    }
    .subscribe {
        padding: 12px 20px;
        top: 5px;
        right: 4px;
    }
    section.review {
        margin-top: 60px;
    }
    section.process {
        margin-top: 100px;
    }
    .btn .line {
        width: 73px;
        margin: 5px 0 0 107px;
    }
    .about .container p {
        width: 400px;
    }
    .about .container h1 {
        width: 425px;
    }
    .nav-icon .icon {
        margin-left: 25px;
    }
    .button1 {
        padding: 20px 30px;
        margin: 17px 0;
    }
  }
  @media( (min-width:769px) and (max-width:1200px) ){
    
    section.banner .container {
        max-width: 768px;
    }
    nav .container {
        max-width: 768px;
    }
    .img {
        width: 640px;
        left: 127px;
    }
    .caption {
        width: 513px;
        right: 525px;
        top: 28px;
        padding: 20px 26px 20px 271px;
    }
    .caption h1 {
        font-size: 25px;
        line-height: 40px;
    }
    .caption p {
        padding-top: 15px;
        line-height: 23px;
    }
    .down-arrow {
        padding: 10px 35px;
        left: 555px;
        top: 260px;
    }
    .box {
        padding: 30px 40px;
        top: 270px;
        right: 575px;
    }
    h1 {
        font-size: 40px;
    }
    p {
        font-size: 16px;
    }
    h3 {
        font-size: 20px;
    }
   .process .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        column-gap: 61px;
    }
    .benefits .container {
       grid-template-rows: 6fr 1fr 4fr;
    }
    .benifits-head h1 {
        width: 400px;
    }
    section.benefits {
        margin-top: 80px;
    }
    .part {
        grid-template-rows: 2fr 3fr;
    }
    .benefits .icon {
        font-size: 30px;
    }
    .nav-icon .icon {
        margin-left: 25px;
    }
    section.process {
        margin-top: 150px;
    }
    .process h1 {
        width: 400px;
    }
    .review .container {
        margin-top: 100px;
    }
    .review-grid {
        padding: 20px;
    }
    .review-flex {
        gap: 25px;
        padding-top: 50px;
    }
    .btn .line {
        width: 65px;
    }
    .experience i {
        margin: 10px 0 0 167px;
    }
    .form {
        width: 740px;
    }
    .subscribe {
        padding: 10px 30px;
    }
    .about .container p {
        width: 500px;
    }
    .button1 {
        padding: 10PX 30px;
        margin: 17px 0;
       
    }
}
@media( (min-width:1201px) and (max-width:1600px) ){
    .benifits-head h1 {
        align-self: center;
        width: 500px;
    }
    section.benefits {
        margin: 150px 0;
    }
    .process h1 {
        width: 400px;
    }
    .nav-icon .icon{
        margin-right: 40px;
    }
    .img {
        width: 950px;
        height: 540px;
        margin-left: 220px;
    }
    .caption {
        width: 900px;
        right: 790px;
        top: 70px;
        padding: 30px 20px 30px 520px;
    }
    .down-arrow {
        left: 850px;
        top: 470px;
    }
    .box {
        top: 455px;
        right: 870px;
    }
    .about .container h1 {
        flex-basis: 150px;
    }
    .form {
        width: 740px;
        top: 16px;
    }
    input{
        width: 100%;
      padding: 16px 20px;
    }
    .subscribe {
        padding: 10px 55px;
        top: 6px;
        right: 10px;
    }
    .review-flex1 {
        margin-top: 120px;
    }
    .review-flex {
        padding: 50px 0;
    }
    .review-flex h3 {
        width: 350px;
    }
    .review-grid {
        padding: 40px 28px;
        flex-basis: 580px;
    }
    .about .container p {
        width: 500px;
    }
    .exp-grid h1 {
        width: 400px;
    }  
}
@media (min-width:1601px) {
    h1{
        font-size: 45px;
    }
    .img {
        height: 565px;
    }
    .caption {
        width: 900px;
        right: 1000px;
        top: 70px;
        padding: 30px 20px 30px 520px;
    }
    .caption p {
        color: white;
        padding-top: 20px;
    }
    section.benefits {
        margin: 150px 0;
    }
    .process h1 {
        width: 400px;
    }
    .benifits-head h1 {
        width: 500px;
    }
    section.process {
        margin-top: 200px;
    }
    .about .container h1 {
        flex-basis: 150px;
    }
    .review-flex1 {
        margin-top: 120px;
    }
    .review-flex {
        padding: 50px 0;
    }
    .review-flex h3 {
        width: 350px;
    }
    .review-grid {
     padding: 50px;
     flex-basis: 580px;
    }
    .btn .line {
        width: 70px;
    }
    .exp-grid h1 {
        width: 400px;
    }
    .form {
        width: 740px;
    }
    .subscribe {
        padding: 10px 55px;
    }
    .about .container p {
        width: 500px;
    }
    
}









